<img src="assets/greenleafsquad.jpeg" alt="visit New Zealand" class='center_align' >

<div class=pretty_margin>
<p class=presentation_text> Welcome! Please enter your username and password to begin..</p>


<% if flash[:error_message] %>
    <div class="error"><%= flash[:error_message] %></div>
<% end %>

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
    <%= label_tag :username %>
    <div><%= text_field_tag :username %></div>
    <br>
    <%= label_tag :password %>
    <div><%= password_field_tag :password %></div>
    <br>
    <%= submit_tag "Login" %>
<% end %>
<br>
<br>
<h5> New user? </h5>
<%= link_to "Register here!", new_client_path %>
</div>