<img src="assets/greenleafsquad.jpeg" alt="visit New Zealand" class='center_align' >
<p class=presentation_text> Welcome! Please enter your username.</p>

<% if flash[:error_message] %>
    <div class="error"><%= flash[:error_message] %></div>
<% end %>
<br>

<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
    <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <div>
    <%= submit_tag "Login" %>
<% end %>
