<%= render partial: "shared/error_form", locals: {new_obj: @ticket} %>

<%= form_for @ticket do |f|%>
    <%= f.label :description %>
    <%= f.select :description, @specialties %>

    <h4> Please describe the issue </h4>
        <%= f.fields_for :comments do |cf| %>
            <div>
                <%= cf.label :text %>
                <%= cf.text_field :text %>
                <%= cf.label :internal %>
                <%= cf.check_box :internal %>
                <%= cf.hidden_field :username, :value => session[:username] %>
            </div>
        <% end %>
    <%= f.submit %>
<% end %>
