<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
<div class="container-fluid">
    <a class="navbar-brand" href="/client_welcome"><img src="/assets/greenleafsquad.jpeg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href= "/clients/<%= session[:logged_in_user_id]%>">Account Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href= "">View previous Tickets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href= "/tickets/new">Create a New Ticket</a>
        </li>
      </ul>
    </div>  
</div>
</nav>


<h1> Welcome to Green Leaf Squad.  </h1>
<h4> Going there and back again for our customers </h4>
<h2> Thanks for logging in, <%= @user.first_name %> </h2>

<div> <%= link_to 'Submit a new ticket', new_ticket_path %> </div>
<div><%= link_to 'Edit my personal information', edit_client_path(session[:logged_in_user_id]) %></div>
<div><%= link_to 'View my open and closed tickets', client_path(session[:logged_in_user_id]) %></div>


<%= button_to 'Log Out', {:controller => "sessions", :action => "destroy"}, :method=>:post %>

